.game-menu{
    color: $light-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font;
    &__options{
        button{
            border-radius: 25px;
            font-size: 1.5em;
            border-style: none;
            width: 300px;
            height: 50px;
            margin: 20px 0px;
            background-color: $light-color;
            color: $dark-color;
            border-color: $light-color;
            border-style: solid;
            border-width: 4px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover{
                background-color: $dark-color;
                color: $light-color;
                cursor: pointer;
            }
        }
    }
}