@use './variables.scss';

.game {
    --pause-button-size: 100px;
    display: flex;
    flex-direction: column;
    color: variables.$light-color;
    font-family: variables.$font;

    &__info {
        grid-area: header;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
    }

    &__title{
        font-size: 2rem;
        padding-left: 20px;
        margin: 0;
    }

    &__pause{
        font-size: 2rem;
        background-color: variables.$light-color;
        border-style: solid;
        border-color: variables.$light-color;
        border-width: 4px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        width: var(--pause-button-size);
        height: var(--pause-button-size);

        span{
            background-color: variables.$dark-color;
            width: calc(var(--pause-button-size) * 0.1);
            height: calc(var(--pause-button-size) * 0.5);
            margin: 0px calc(var(--pause-button-size) * 0.1);
            border-radius: calc(var(--pause-button-size) * 0.05);
        }

        &:hover{
            background-color: variables.$dark-color;
            cursor: pointer;
            span{
                background-color: variables.$light-color;
            }
        }
    }

    &__stats{
        display: flex;
        gap: 2rem;
    }

    &__score{
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    &__time{
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    &__arena {
        margin-top: 1rem;
        height: 400px;
        width: 100%;
        position: relative;
        grid-area: arena;
    }

    @media (max-height: variables.$mobile-break-point), (max-width: variables.$mobile-break-point){
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 50px calc(100vh - 50px);
        --pause-button-size: 50px;
        &__pause{
            span{
                height: 30px;
                margin: 0px 5px;
            }
        }
    }

    @media (max-width: variables.$mobile-break-point) {
        height: 100svh;
        justify-content: space-between;

        &__time {
            font-size: 1rem;
        }

        &__score {
            font-size: 1rem;
        }
        &__stats {
            flex-direction: column;
            gap: 1rem;
            align-items: flex-end;
        }
    }
}

.box{
    border: variables.$light-color;
    color: variables.$light-color;
    background-color: variables.$dark-color;
    font-size: var(--fontSize, 1.5rem);
    border-width: calc(1px * var(--size, 50) * 0.08);
    border-style: solid;
    width: calc(1px * var(--size, 50) * 0.92);
    height: calc(1px * var(--size, 50) * 0.92);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
}