@use './widgets.scss';
@use './variables.scss';

.game-menu{
    color: variables.$light-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: variables.$font;
    &__options{
        button{
            @include widgets.menu-button;
        }
    }
}