@use './variables.scss';

.home-screen{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px calc(100vh - 100px);

    &__title-section{
        grid-row: 2;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title{
        color: variables.$light-color;
        font-family: variables.$font;
        font-size: 4em;
    }

    &__play-button{
        font-size: 2em;
        background-color: variables.$light-color;
        color: variables.$dark-color;
        border-width: 4px;
        border-color: variables.$light-color;
        border-radius: 50px;
        border-style: solid;
        padding: 15px;
        width: 200px;

        &:hover{
            border-color: variables.$light-color;
            background-color: variables.$dark-color;
            color: variables.$light-color;
            cursor: pointer;
        }

        &:focus{
            outline: none;
        }
    }

    &__help-button{
        grid-row: 1;
        grid-column: 3;
        background-color: variables.$light-color;
        border-width: 4px;
        border-color: variables.$light-color;
        color: variables.$dark-color;
        font-size: 2em;
        border-style: solid;
        padding: 0px;

        &:hover{
            background-color: variables.$dark-color;
            color: variables.$light-color;
            cursor: pointer;
        }

        &:focus{
            outline: none;
        }
    }

    @media only screen and (max-height: variables.$mobile-break-point){
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 50px calc(100vh - 50px);
        &__title{
            font-size: 2em;
        }
        &__play-button{
            font-size: 1.5em;
            padding: 10px;
        }
    }
    
}