@forward './game-menu.scss';
@forward './home.scss';
@forward './prompt.scss';
@forward './help-screen.scss';
@forward './game.scss';
@forward './tutorial.scss';
@forward './animations.scss';
@forward './pascal-triangle-animation.scss';

@use './variables.scss';

html, body {
    background-color: variables.$dark-color;
    overflow: hidden;
}

.vertically-centered {
    display: flex;
    align-items: center;
}
