@use './variables.scss';
@use './widgets.scss';

.prompt{
    position: fixed;
    top: 20x;
    left: 20px;
    margin: 0;
    font-family: variables.$font;
    background-color: variables.$light-color;
    color: variables.$dark-color;
    padding: 10px;
    border-radius: 4px;

    h3 {
        text-align: center;
    }

    &__download {
        @include widgets.menu-button;
        font-size: 0.8em;
        background-color: variables.$dark-color;
        color: variables.$light-color;
        display: inline-flex;
        width: auto;
        padding: 0px 40px;
        border-radius: 50px;

        &:hover{
            background-color: variables.$light-color;
            color: variables.$dark-color;
            border-color: variables.$dark-color;
            cursor: pointer;
        }

        &:focus{
            outline: none;
        }
    }

    &__header{
        display: flex;
        justify-content: flex-end;
        &__dismiss{
            border: none;
            width: 20px;
            height: 20px;
            position: relative;
            div{
                position: absolute;
                left: 50%;
                top: 50%;
                width: 20px;
                height: 4px;
                border-radius: 2px;
                background-color: variables.$dark-color;
            }

            &:hover{
                outline: none;
                background-color: transparent;
                opacity: 0.8em;
                cursor: pointer;
            }

            div:nth-child(1){
                transform: translate(-50%, -50%) rotate(-45deg);
            }

            div:nth-child(2){
                transform: translate(-50%, -50%) rotate(45deg) ;
            }
        }
    }
}