@font-face {
    font-family: 'Open Code Pro';
    src: url('../fonts/OfficeCodePro-Light.ttf') format('truetype');
}


$font: 'Open Code Pro';
$light-color: #ecf0f1;
$dark-color: #303030;
$mobile-break-point: 700px;