@use './variables.scss';

@mixin menu-button {
    border-radius: 25px;
    font-size: 1.5rem;
    border-style: none;
    width: 300px;
    height: 50px;
    margin: 20px 0px;
    background-color: variables.$light-color;
    color: variables.$dark-color;
    border-color: variables.$light-color;
    border-style: solid;
    border-width: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: variables.$dark-color;
        color: variables.$light-color;
        cursor: pointer;
    }

    &:focus{
        outline: none;
    }
}

@mixin secondary-menu-button {
    border-radius: 25px;
    font-size: 1.5rem;
    border-style: none;
    width: 300px;
    height: 50px;
    margin: 20px 0px;
    background-color: variables.$dark-color;
    color: variables.$light-color;
    border-color: variables.$light-color;
    border-style: solid;
    border-width: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: variables.$light-color;
        color: variables.$dark-color;
        cursor: pointer;
    }

    &:focus{
        outline: none;
    }
}